.header_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    border-style: ridge;
    
}
.chatName {
    font-size: xx-large;
    font-family: cursive;
    color: mediumblue;
}

.participants {

   font-size: medium;
    color: rgb(30, 17, 102);
}

.messages {
    font-size: medium;
    color: midnightblue;
}
.time {
    font-size: medium;
    color: rgb(202, 88, 85);
}
